* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #00feba, #5b548a);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 1rem;
}

.search {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1.4rem 2.4rem #00000059;
  border-radius: 1000px;
  overflow: hidden;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  background: #fff;
}

.search input,
.search button {
  border: 0;
  outline: 0;
  padding: 1rem;
}

.search input {
  font-size: 1rem;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
}

.search button img {
  width: 1.2rem;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
}

.weather h1 {
  font-size: 3.5rem;
}

.weather h2 {
  font-size: 2.5rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
  margin-top: 2rem;
}

.col {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.col img {
  width: 2rem;
}

.humidity,
.wind {
  font-size: 1.6rem;
}

.error {
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
}

.error,
.loading {
  padding: 2rem 1rem;
  display: none;
}

footer {
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem;
}

footer a:hover {
  color: powderblue;
}
